@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';
@plugin "daisyui";

@theme {
  /* colors */
  --color-BgColor: #8A1538;
  --color-FeatBg: #FFF3E1;

  /* fonts */
  --font-Bricolage: 'Bricolage Grotesque';
}




.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes pingSlow {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-18px);
  }
}

@layer utilities {
  .animate-jump {
    animation: jump 2.5s linear infinite;
  }
}


.ping-slow {
  animation: pingSlow 2.0s cubic-bezier(0, 0, 0.2, 1) infinite;
}
